/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}


/* end reset */

html, body {
  background-color: #333;
}

body {
  font-family: Helvetica, Tahoma, Arial, sans-serif;

  color: #ccc;
  margin: 10px;
}

ol.demo-ol {
	font-size: 18px;
	color: #fff;
	line-height: 200%;
	margin: 10px;
}

a {
	color: #ccc;
}

ul {
  font-size: 24px;
  line-height: 200%;
}

ul {
  padding: 5px;
  margin: 15px;
}

ul li {
  width: 100px;

  margin: 10px;

}

ul.image-grid {
/*  width: 1000px;*/

  zoom: 1;
}

ul.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

p {
	color: #eee;
}

ul.image-grid li {
  border: none;

  width: 175px;
  float: left;

}

ul.image-grid li img {
  margin-left: 25px;
}
ul.image-grid li p {
  text-align: center;
  font-size: 13px;
  line-height: 120%;
}

ul.image-grid li p strong {
  display: block;
  font-weight: bolder;
  color: #eee;
}

.back {
  line-height: 200%;
  margin: 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #496;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

}
.back:hover {
  background-color: #385;
}

label {
  color: #eee;
  font-size: 13px;
}

p {
  margin: 5px;
}

label {
  display: block;
}

legend {
  font-weight: bolder;
  font-size: 12px;
  margin-top: 10px;
}

form {
  margin: 20px;
  line-height: 150%;
}

pre {
	color: #333;
	background-color: #eee;
	padding: 10px;
	margin: 10px;
	font-family: Monaco, Consolas, "Courier New";
	line-height: 125%;
}

footer {
	font-size: 10px;
}